<!-- feature -->
<section class="section bg-secondary position-relative">
  <div class="bg-image overlay-secondary">
    <img src="images/feature.jpg" alt="bg-image" />
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="row align-items-center">
          <div class="col-lg-4 mb-4 mb-lg-0">
            <img
              src="images/feature.jpg"
              alt="feature-image"
              class="img-fluid"
            />
          </div>
          <div class="col-lg-7 offset-lg-1">
            <div class="row">
              <div class="col-12">
                <h2 class="text-white">
                  ¿EN QUÉ DESAFÍOS PODEMOS ACOMPAÑARTE?
                </h2>
                <div class="section-border ml-0"></div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="media">
                  <i class="icon text-gradient-primary ti-star mr-3"></i>
                  <div class="media-body">
                    <h4 class="text-white">Selección de Personal</h4>
                    <p class="text-light">
                      Emprendemos nuestros procesos de reclutamiento y selección
                      con prácticas y estrategias de Employer Branding,
                      apostando a construir los mejores equipos para nuestro
                      cliente.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="media">
                  <i class="icon text-gradient-primary ti-check-box mr-3"></i>
                  <div class="media-body">
                    <h4 class="text-white">Evaluación de Potencial</h4>
                    <p class="text-light">
                      Evaluamos y procesamos información sobre la capacidad
                      actual de las personas lo que nos permite identificar a
                      los futuros líderes.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="media">
                  <i
                    class="icon text-gradient-primary ti-pencil-alt mr-3"
                  ></i>
                  <div class="media-body">
                    <h4 class="text-white">Formación y Entrenamiento</h4>
                    <p class="text-light">
                      Brindamos formaciones en diferentes core skills, técnicas
                      y herramientas a través del formato "learn by doing".
                    </p>
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-6 mb-4">
                <div class="media">
                  <i
                    class="icon text-gradient-primary ti-ruler-pencil mr-3"
                  ></i>
                  <div class="media-body">
                    <h4 class="text-white">Bootstrap 4x</h4>
                    <p class="text-light">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmo
                    </p>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /feature -->
