<!-- footer -->
    <footer class="bg-secondary position-relative">
      <img
        src="images/backgrounds/map.png"
        class="img-fluid overlay-image"
        alt=""
      />
      <div class="section" id="footer">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-3 col-6">
              <h4 class="text-white mb-5">Nosotros</h4>
              <ul class="list-unstyled">
                <li>
                  <a href="index.html#main" class="text-light d-block mb-3">Servicios</a>
                </li>
                <li>
                  <a href="index.html#nosotros" class="text-light d-block mb-3">Equipo</a>
                </li>
                <li>
                  <a href="index.html#top" class="text-light d-block mb-3">Home</a>
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <div class="col-6">
                <h4 class="text-white mb-5">Contactanos</h4>
                <ul class="list-unstyled">
                  <li>
                    <a
                      href="mailto: embat.consultora@gmail.com"
                      class="text-light d-block mb-3"
                      >Email: embat.consultora@gmail.com
                    </a>
                  </li>
                  <li>
                    <a
                      href="https://api.whatsapp.com/send?phone=34666126573&text=Hola, tengo una consulta sobre sus servicios"
                      class="text-light d-block mb-3"
                      >Sofia Aguirre: +34666126573</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://api.whatsapp.com/send?phone=34624394935&text=Hola, tengo una consulta sobre sus servicios"
                      class="text-light d-block mb-3"
                      >Romina Coll: +34624394935</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pb-4">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-left">
              <p class="text-light mb-0">
                Copyright &copy; 2019 a theme by
                <a class="text-gradient-primary" href="https://themefisher.com"
                  >themefisher.com</a
                ><br />
                Develop by
                <a
                  class="text-gradient-primary"
                  href="https://www.linkedin.com/in/pisciolariantonela/"
                  >antopiscio</a
                >
              </p>
            </div>
            <!-- <div class="col-md-6">
              <ul class="list-inline text-md-right text-center">
                <li class="list-inline-item">
                  <a class="d-block p-3 text-white" href="#"
                    ><i class="ti-facebook"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a class="d-block p-3 text-white" href="#"
                    ><i class="ti-twitter-alt"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a class="d-block p-3 text-white" href="#"
                    ><i class="ti-instagram"></i
                  ></a>
                </li>
                <li class="list-inline-item">
                  <a class="d-block p-3 text-white" href="#"
                    ><i class="ti-github"></i
                  ></a>
                </li>
              </ul>
            </div> -->
          </div>
        </div>
      </div>
    </footer>
<!-- /footer -->