<!-- team -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h2>¿QUIENES SOMOS?</h2>
        <p>Conoce a las personas detrás de la empresa</p>
        <div class="section-border"></div>
      </div>
    </div>
    <div class="row no-gutters team">
      <div>
        <div class="card hover-shadow">
          <img src="images/team/sofi.jpeg" alt="team-member" class="img-thumb-circle mx-auto mb-3">
          <div class="card-body text-center position-relative zindex-1">
            <h4><a class="text-dark " href="team-single.html">Sofia Aguirre</a></h4>
            <i>Contadora Pública - Data Scientist</i>
          </div>
        </div>
      </div>
      <div>
        <div class="card hover-shadow">
          <img src="images/team/coll.jpeg" alt="team-member" class="img-thumb-circle mx-auto mb-3">
          <div class="card-body text-center position-relative zindex-1">
            <h4><a class="text-dark" href="team-single.html">Romina Coll</a></h4>
            <i>Gestión de RRHH - Especialista en Metodologías Agiles</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /team -->